* {
    margin: 0px;
    padding: 0px;
    font-family: 'Poppins', sans-serif;
    color: white;
}

.container {
    display: flex;
    align-items: center;
    justify-content: center;
    height: 100vh;
}

.card {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-evenly;
    height: 350px;
    width: 400px;
    background-color: #F9DFDF;
    box-shadow: 0 10px 20px rgba(0,0,0,0.19), 0 6px 6px rgba(0,0,0,0.23);
    border-radius: 20px;
    transition: 0.3s ease;
}

.card:hover {
  transform: translateY(-5px);
  transition: 0.3s ease;
}

.user-box {
    border: none;
    outline: none;
    border-radius: 15px;
    height: 35px;
    width: 195px;
    background-color: #FCF8F8;
    color: black;
    box-shadow: 0 2px 4px 0 rgba(0, 0, 0, 0.13), 0 1px 1px 0 rgba(0, 0, 0, 0.11);
    text-align: center;
    border: 2px solid #F39EB6;
}

.pass-box {
    border: none;
    outline: none;
    border-radius: 15px;
    height: 35px;
    width: 195px;
    color: black;
    box-shadow: 0 2px 4px 0 rgba(0, 0, 0, 0.13), 0 1px 1px 0 rgba(0, 0, 0, 0.11);
    text-align: center;
    border: 2px solid #F39EB6;
}


.login-btn {
    border: none;
    border-radius: 15px;
    height: 35px;
    width: 155px;
    background-color: #F39EB6;
    color: #FFE4EF;
    cursor: pointer;
    transition: all .5s ease;
}

.login-btn:hover {
    box-shadow: rgba(100, 100, 111, 0.2) 0px 7px 29px 0px;
    color: #001F3F;
    background-color: #fff;
    font-size: 15px;
}

.login-btn:active {
  transform: scale(0.96);
}

.foot {
    height: 30px;
    display: flex;
    align-items: center;
    width: 90%;
    justify-content: space-between;
}

.check {
    font-size: 14px;
    color: black;
}

::placeholder {
  color: #999;
  font-size: 13px;
}

a:hover, p:hover {
  opacity: 1;
}